@import "home";
@import "menu";
@import "menu-button";
@import "underline";

@font-face {
	font-family: Zorus_Serif_Italic;
	src: url('../fonts/Zorus_Serif_Italic.otf');
}

* {
	margin: 0;
	padding: 0;
	color: white;
}

body {
	font-family: Zorus_Serif_Italic;
	text-transform: uppercase;
	overflow: hidden;
}

a {
	text-decoration: none;
	display: inline-block;
}


