.menu {
	z-index: 1;
	transition: 0.5s ease;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	visibility: hidden;
	opacity: 0;

	.wrapper {
		margin: 7% 14%;
		height: 68%;
		padding-top: 45px;

		ul {
			text-align: center;
			width: 46%;

			&.col1 {
				float: left;
				padding-left: 4%;
			}

			&.col2 {
				float: right;	
				padding-right: 4%;
			}

			li {
				padding-top: 91px;
				font-size: 25px;
				list-style: none;

				a {
					letter-spacing: 4px;
					text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);

					// &:after {
					// 	margin-top: 7px;
					// 	content: '';
					// 	display: block;
					// 	height: 3px;
					// 	width: 25px;
					// 	background: white;
					// 	transition: width .3s ease;
					// }

					// &:hover:after {
					// 	width: 100%;
					// 	color: rgba(255,255,255,1);
					// }
				}
			}
		}
	}

	&.open {
		background: rgba(0,0,0,0.5);
		visibility: visible;
		opacity: 1;
	}

	.contact {
		position: absolute;
		bottom: 4%;
		left: 50%;

		a {
			position: relative;
			left: -50%;
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 800;
			letter-spacing: 5px;
			font-size: 14px;
			transition: all 0.3s ease;
			text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);

			.material-icons {
				position: relative;
				top: 6px;
				left: -12px;
				font-size: 22px;
			}

			&:hover {
				transform: translateY(1px);
				text-shadow: none;
			}
		}
	}

	.credits {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 200;
		text-transform: none;
		transform: rotate(-90deg);
		position: absolute;
		left: -75px;
		bottom: 107px;
		font-size: 11px;

		@-moz-document url-prefix() {
			left: -86px; 
		}
	}
}	