.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Zorus_Serif_Italic;
  text-transform: uppercase; }
  .intro__wind, .intro__mile {
    display: flex;
    flex-direction: row; }
  .intro p {
    color: black;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 80px;
    opacity: 0;
    transition: opacity 2s ease-in; }
    @media (max-width: 767.98px) {
      .intro p {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 3px; } }

.home {
  opacity: 0;
  transition: opacity 1s;
  overflow: hidden; }
  .home__newsletter {
    z-index: 2;
    top: 0;
    transform: translateY(-100%);
    position: fixed;
    width: 100%;
    padding: 1em;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s; }
    @media (max-width: 767.98px) {
      .home__newsletter {
        display: none; } }
    .home__newsletter--show {
      transform: translateY(0); }
    .home__newsletter--hide {
      transform: translateY(-3em); }
    .home__newsletter:hover {
      transform: translateY(0); }
    .home__newsletter__text {
      font-size: 18px;
      margin-right: 1em; }
      @media (max-width: 767.98px) {
        .home__newsletter__text {
          display: none; } }
    .home__newsletter__cta {
      height: 30px;
      border-radius: 36.5px;
      padding: 0 1em;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: #3b3b3b;
      font-size: 12px;
      font-weight: 700; }
      .home__newsletter__cta:hover .home__newsletter__cta__icon {
        transform: translateX(3px); }
      .home__newsletter__cta__icon {
        transition: transform .2s;
        margin-left: .7em; }
  .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    @media (max-width: 767.98px) {
      .home__container {
        flex-direction: column-reverse;
        justify-content: flex-end; } }
  .home__windmile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 70vh;
    background: url("pictures/background.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    transition: opacity 2s; }
    @media (max-width: 767.98px) {
      .home__windmile {
        width: 90vw;
        height: calc(98vh - 110px);
        margin-top: 110px; } }
    .home__windmile__title {
      height: 400px;
      text-align: center;
      font-family: Zorus_Serif_Italic;
      text-transform: uppercase; }
      @media (max-width: 767.98px) {
        .home__windmile__title {
          height: 160px; } }
      .home__windmile__title h1 {
        background: url("pictures/mask.jpg");
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: cover;
        background-position: center;
        -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 210px;
        font-weight: normal;
        letter-spacing: 9px;
        line-height: 204px;
        padding-right: 20px; }
        @media (max-width: 767.98px) {
          .home__windmile__title h1 {
            font-size: 80px;
            line-height: 78px;
            letter-spacing: 4px; } }
      .home__windmile__title .shadow {
        position: relative;
        top: -414px;
        left: 13px;
        width: 434px; }
        @media (max-width: 767.98px) {
          .home__windmile__title .shadow {
            top: -159px;
            width: 166px;
            left: -1px; } }
        .home__windmile__title .shadow.chrome {
          top: -398px; }
          @media (max-width: 767.98px) {
            .home__windmile__title .shadow.chrome {
              top: -153px; } }
  .home__darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none; }
  .home__socials {
    text-align: center;
    position: relative;
    bottom: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .home__socials--mobile {
      display: none; }
    @media (max-width: 767.98px) {
      .home__socials {
        position: initial;
        justify-content: space-around;
        width: 100%;
        margin-top: 2em; }
        .home__socials--desktop {
          display: none; }
        .home__socials--mobile {
          display: flex; } }
    .home__socials--show {
      visibility: hidden;
      animation: 2s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadeIn-bottom;
      animation-delay: .5s; }
    .home__socials--hide {
      animation: 1s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadeOut-bottom; }

@keyframes fadeIn-bottom {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translateY(100%); }
  40% {
    transform: translateY(0%); }
  100% {
    visibility: visible;
    opacity: 1; } }

@keyframes fadeOut-bottom {
  0% {
    opacity: 1; }
  40% {
    transform: translateY(100%); }
  100% {
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0; } }
    .home__socials__link:not(:last-child) {
      margin-right: 2em; }
    @media (max-width: 767.98px) {
      .home__socials__link {
        margin-right: 0;
        margin: 0 1em 1.5em; } }
    .home__socials__icon {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
      transition: filter .2s; }
      .home__socials__icon:hover {
        filter: none; }

.menu {
  width: 500px;
  margin-top: 15vh;
  margin-left: 20px;
  align-self: flex-start;
  z-index: 1;
  margin-right: -520px; }
  @media (max-width: 767.98px) {
    .menu {
      width: 90%;
      margin: 0;
      display: flex;
      position: fixed;
      top: 0;
      align-self: unset;
      padding: 0 1em; } }
  .menu__list {
    list-style-type: none;
    font-size: 24px;
    margin-top: 25px; }
    @media (max-width: 767.98px) {
      .menu__list {
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        margin-top: 20px; } }
    .menu__list.open {
      animation: 1.5s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadein-top; }
    .menu__list.close {
      animation: 1s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadeout-top; }
    .menu__list__item {
      margin-bottom: 25px; }
      @media (max-width: 767.98px) {
        .menu__list__item {
          margin-bottom: 10px; }
          .menu__list__item:not(:last-child) {
            margin-right: 1em; } }
      .menu__list__item a {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        transition: text-shadow .2s; }
        .menu__list__item a.active {
          transition: text-shadow .2s;
          text-shadow: none; }

@keyframes fadein-top {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-50%); }
  30% {
    transform: translateY(0%); }
  100% {
    visibility: visible;
    opacity: 1; } }

@keyframes fadeout-top {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  20% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden; } }
  .menu .credits {
    font-weight: 200;
    text-transform: none;
    transform: rotate(-90deg);
    position: fixed;
    left: -90px;
    bottom: 107px;
    font-size: 11px; }
    @media (max-width: 767.98px) {
      .menu .credits {
        left: -97px;
        bottom: 140px; } }

@-moz-document url-prefix() {
  .menu .credits {
    left: -86px; } }

@media (max-width: 767.98px) {
  .menu__btn-container {
    position: absolute;
    right: 10px;
    margin-top: 10px; } }

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  transition: box-shadow .2s, transform 0.5s;
  background: transparent;
  z-index: 10;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); }
  .menu__btn:hover {
    box-shadow: none; }
    .menu__btn:hover:before, .menu__btn:hover:after {
      box-shadow: none; }
  .menu__btn:before, .menu__btn:after {
    content: "";
    display: block;
    background: black;
    position: absolute;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow .2s; }
  .menu__btn:before {
    width: 2px;
    height: 30px;
    top: 5px;
    left: 19px; }
  .menu__btn:after {
    width: 30px;
    height: 2px;
    bottom: 19px;
    left: 5px; }
  .menu__btn.open {
    border: 2px solid white;
    transform: rotate(-225deg); }
    .menu__btn.open:before, .menu__btn.open:after {
      background: white; }

.underline {
  position: relative; }

.underline span {
  pointer-events: none; }

.underline canvas {
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: pointer; }

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; }
  .landing * {
    font-family: 'Nunito', sans-serif;
    font-weight: 700; }
  .landing__background {
    background-image: url("pictures/hush.jpg");
    background-size: cover;
    background-position: center;
    width: calc(100% + 40px);
    height: calc(100vh + 40px);
    filter: blur(20px);
    position: fixed;
    top: -20px;
    left: -10px;
    z-index: -1; }
  .landing__content {
    text-align: center;
    overflow-y: scroll;
    padding: 1em; }
    .landing__content__img {
      max-width: 520px;
      width: 35vw;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
      @media (max-width: 575.98px) {
        .landing__content__img {
          width: 100%; } }
    .landing__content__text {
      font-weight: 400;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 18px;
      margin-top: 1em; }
    .landing__content__title {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 48px;
      margin-top: 0.1em; }
    .landing__content__cta {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 575.98px) {
        .landing__content__cta {
          flex-direction: column; } }
    .landing__content__btn {
      margin-top: 2em;
      height: 46px;
      border-radius: 36.5px;
      text-transform: uppercase;
      padding: 0 1.5em;
      font-size: 18px;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: box-shadow .2s;
      display: flex;
      align-items: center; }
      @media (max-width: 575.98px) {
        .landing__content__btn {
          margin-top: 1em; } }
      .landing__content__btn--listen {
        background-color: black;
        margin-right: 1em;
        display: flex; }
        @media (max-width: 575.98px) {
          .landing__content__btn--listen {
            margin-right: 0; } }
        .landing__content__btn--listen__play {
          margin-left: .5em; }
      .landing__content__btn--visit {
        background-color: rgba(47, 47, 47, 0.15);
        color: black; }
      .landing__content__btn:hover {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5); }

.content {
  position: absolute;
  width: 65vw;
  height: 70vh;
  display: flex;
  overflow: hidden; }
  @media (max-width: 767.98px) {
    .content {
      width: 90vw;
      height: calc(98vh - 110px);
      overflow-y: scroll;
      margin-top: 110px; } }
  .content__bio {
    display: none;
    flex-direction: row-reverse; }
    @media (max-width: 767.98px) {
      .content__bio {
        flex-direction: column; } }
    .content__bio__text-container {
      font-size: 14px;
      padding: 5em;
      overflow-y: scroll; }
      @media (max-width: 767.98px) {
        .content__bio__text-container {
          overflow-y: unset;
          padding: 2em 1em; } }
    .content__bio__text {
      visibility: hidden;
      font-size: 14px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      animation: 2s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadein-left;
      animation-delay: .2s;
      margin-bottom: 1em; }
    .content__bio__btn {
      margin-top: 2em; }
      .content__bio__btn * {
        margin-bottom: 1em; }
    .content__bio__img {
      flex-basis: 45%;
      flex-shrink: 0;
      height: 100%;
      background-image: url("pictures/bio.jpg");
      background-position: top center;
      background-size: cover;
      animation: 2s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadein-right;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

@keyframes fadein-right {
  0% {
    opacity: 0;
    transform: translateX(5%);
    filter: blur(5px); }
  40% {
    transform: translateX(0%); }
  100% {
    opacity: 1;
    filter: blur(0px); } }

@keyframes fadein-left {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-5%); }
  40% {
    transform: translateX(0%); }
  100% {
    opacity: 1;
    visibility: visible; } }

@font-face {
  font-family: Zorus_Serif_Italic;
  src: url("fonts/Zorus_Serif_Italic.otf"); }

* {
  margin: 0;
  padding: 0;
  color: white; }
  *:focus {
    outline: none; }

body {
  font-family: 'Nunito', sans-serif;
  overflow: hidden; }

a {
  text-decoration: none;
  display: inline-block; }
