.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Zorus_Serif_Italic;
  text-transform: uppercase;

  &__wind, &__mile {
    display: flex;
    flex-direction: row;
  }

  p {
    color: black;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 80px;
    opacity: 0;
    transition: opacity 2s ease-in;

    @media (max-width: 767.98px) {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 3px;
    }
  }
}

.home {
  opacity: 0;
  transition: opacity 1s;

  &__newsletter {
    z-index: 2;
    top: 0;
    transform: translateY(-100%);
    position: absolute;
    width: 100%;
    padding: 1em;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;

    &--show {
      transform: translateY(0);
    }

    &--hide {
      transform: translateY(-3em);
    }

    &:hover {
      transform: translateY(0);
    }

    &__text {
      font-size: 18px;
      margin-right: 1em;

      @media (max-width: 767.98px) {
        display: none;
      }
    }

    &__cta {
      height: 30px;
      border-radius: 36.5px;
      padding: 0 1em;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: #3b3b3b;
      font-size: 12px;
      font-weight: 700;

      &:hover .home__newsletter__cta__icon {
        transform: translateX(3px);
      }

      &__icon {
        transition: transform .2s;
        margin-left: .7em;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media (max-width: 767.98px) {
      flex-direction: column-reverse;
    }
  }

  &__windmile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 70vh;
    background: url("pictures/background.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    transition: opacity 2s;

    @media (max-width: 767.98px) {
      width: 90vw;
      height: 70vh;
    }

    &__title {
      height: 400px;
      text-align: center;
      font-family: Zorus_Serif_Italic;
			text-transform: uppercase;
			
			@media (max-width: 767.98px) {
				height: 160px;
			}

      h1 {
        background: url("pictures/mask.jpg");
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: cover;
        background-position: center;
        -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 210px;
        font-weight: normal;
        letter-spacing: 9px;
        line-height: 204px;
        padding-right: 20px;

        @media (max-width: 767.98px) {
          font-size: 80px;
          line-height: 80px;
          letter-spacing: 5px;
        }
      }

      .shadow {
        position: relative;
        top: -414px;
        left: 13px;
        width: 434px;

        @media (max-width: 767.98px) {
          top: -162px;
					width: 171px;
					left: -3px;
        }
      }

      // Chrome only
      @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        .shadow {
          top: -398px;

          @media (max-width: 767.98px) {
            top: -156px;
          }
        }
      }
    }
  }

  &__darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  &__socials {
    text-align: center;
    position: relative;
    bottom: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 767.98px) {
      bottom: 12vh;
    }

    &--show {
      visibility: hidden;
      animation: 2s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadeIn-bottom;
      animation-delay: .5s;
    }

    &--hide {
      animation: 1s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadeOut-bottom;
    }

    @keyframes fadeIn-bottom {
      0% {
        opacity: 0;
        visibility: visible;
        transform: translateY(100%);
      }

      40% {
        transform: translateY(0%);
      }

      100% {
        visibility: visible;
        opacity: 1;
      }
    }

    @keyframes fadeOut-bottom {
      0% {
        opacity: 1;
      }

      40% {
        transform: translateY(100%);
      }

      100% {
        transform: translateY(100%);
        visibility: hidden;
        opacity: 0;
      }
    }

    &__link {
      &:not(:last-child) {
        margin-right: 2em;
			}

			@media (max-width: 767.98px) {
				margin-bottom: 1em;
			}
    }

    &__icon {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
      transition: filter .2s;


      &:hover {
        filter: none;
      }
    }
  }
}
