.intro {
  text-align: center;
  margin-top: 43vh;
  transform: translateY(-50%);

  p {
    color: black;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 80px;
    display: inline-block;

    // transition: opacity 1s ease;
    opacity: 0;

    @media only screen and (max-width: 640px) {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 3px;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__windmile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    background: url("../pictures/background.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    transition: opacity 2s;

    // opacity: 0;

    &__title {
			height: 400px;

      h1 {
        background: url("../pictures/mask.jpg");
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: cover;
        background-position: center;
        -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 210px;
        font-weight: normal;
        letter-spacing: 9px;
				line-height: 204px;
				text-align: center;
				padding-right: 40px;
			
		  @media only screen and (max-width: 640px) {
          font-size: 80px;
          line-height: 80px;
          letter-spacing: 5px;
        }
      }

      .shadow {
				position: relative;
				top: -399px;
				left: 30px;
        width: 434px;

        // Firefox exception
        @-moz-document url-prefix() {
          top: -414px;
        }

        @media only screen and (max-width: 640px) {
          top: -156px;
          left: 7px;
          width: 171px;

          @-moz-document url-prefix() {
            top: -162px;
            left: 8px;
          }
        }
      }
    }
  }
}
