.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  * {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }

  &__background {
    background-image: url("pictures/hush.jpg");
    background-size: cover;
    background-position: center;
    width: calc(100% + 40px);
    height: calc(100vh + 40px);
    filter: blur(20px);
    position: fixed;
    top: -20px;
    left: -10px;
    z-index: -1;
  }

  &__content {
		text-align: center;
		overflow-y: scroll;
    padding: 1em;

    &__img {
      max-width: 520px;
      width: 35vw;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

      @media (max-width: 575.98px) {
        width: 100%;
      }
    }

    &__text {
      font-weight: 400;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 18px;
      margin-top: 1em;
    }

    &__title {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 48px;
      margin-top: 0.1em;
    }

    &__cta {
      display: flex;
			justify-content: center;
			align-items: center;

      @media (max-width: 575.98px) {
				flex-direction: column;
      }
    }

    &__btn {
      margin-top: 2em;
      height: 46px;
      border-radius: 36.5px;
      text-transform: uppercase;
      padding: 0 1.5em;
      font-size: 18px;
      border: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: box-shadow .2s;
      display: flex;
			align-items: center;
			
			@media (max-width: 575.98px) {
				margin-top: 1em;
      }

      &--listen {
        background-color: black;
        margin-right: 1em;
        display: flex;

        &__play {
          margin-left: .5em;
        }
      }

      &--visit {
        background-color: rgba(47, 47, 47, 0.15);
        color: black;
      }

      &:hover {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}
