.menu {
  width: 500px;
  margin-top: 15vh;
  margin-left: 20px;
  align-self: flex-start;
  z-index: 1;

  // transition: 0.5s ease;
  margin-right: -520px;

  @media (max-width: 767.98px) {
    width: 90%;
    margin: 0;
    display: flex;
    position: fixed;
    top: 0;
    align-self: unset;
    padding: 0 1em;
  }

  &__list {
    list-style-type: none;
    font-size: 24px;
    margin-top: 25px;

    @media (max-width: 767.98px) {
      display: flex;
      flex-wrap: wrap;
      width: 280px;
    }

    &.open {
      animation: 1.5s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadein-top;
    }

    &.close {
      animation: 1s cubic-bezier(0, 0, 0, 1) 0s 1 forwards fadeout-top;
    }

    &__item {
      margin-bottom: 25px;

      @media (max-width: 767.98px) {
				margin-bottom: 15px;

        &:not(:last-child) {
          margin-right: 1em;
        }
      }

      a {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        transition: text-shadow .2s;

        &.active {
          transition: text-shadow .2s;
          text-shadow: none;
        }
      }
    }

    @keyframes fadein-top {
      0% {
        visibility: visible;
        opacity: 0;
        transform: translateY(-50%);
      }

      30% {
        transform: translateY(0%);
      }

      100% {
        visibility: visible;
        opacity: 1;
      }
    }

    @keyframes fadeout-top {
      0% {
        opacity: 1;
        transform: translateY(0%);
      }

      20% {
        opacity: 0;
      }

      100% {
        opacity: 0;
        transform: translateY(-50%);
        visibility: hidden;
      }
    }
  }

  .credits {
    font-weight: 200;
    text-transform: none;
    transform: rotate(-90deg);
    position: fixed;
    left: -90px;
    bottom: 107px;
		font-size: 11px;
		
		@media (max-width: 767.98px) {
			left: -97px;	
			bottom: 140px;
		}

    @-moz-document url-prefix() {
      left: -86px;
    }
  }
}
