.menu__btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid black;
	transition: box-shadow .2s, transform 0.5s;
	background: transparent;
	z-index: 10;
	position: relative;	
	cursor: pointer;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

	&:hover {
		box-shadow: none;

		&:before, &:after {
			box-shadow: none;
		}
	}

	&:before, &:after {
		content: "";
		display: block;
		background: black;
		position: absolute;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
		transition: box-shadow .2s;
	}

	&:before {
		width: 2px;
		height: 30px;
		top: 5px;
		left: 19px;
	}

	&:after {
		width: 30px;
		height: 2px;
		bottom: 19px;
		left: 5px;
	}

	&.open {
		border: 2px solid white;
		transform: rotate(-225deg);

		&:before, &:after {
			background: white;
		}
	}

	@media only screen and (max-width: 640px) {
		top: -22px;
		right: -22px;
	}
}