.menu {
	width: 500px;
	margin-top: 20vh;
	margin-left: 20px;
	align-self: flex-start;
  z-index: 1;
	transition: 0.5s ease;
	margin-right: -500px;

  &__list {
    visibility: hidden;
		opacity: 0;
		list-style-type: none;
		font-size: 24px;
		margin-top: 25px;

    &.open {
      visibility: visible;
      opacity: 1;
		}
		
		&__item {
			margin-bottom: 25px;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		}
  }

  .credits {
    font-weight: 200;
    text-transform: none;
    transform: rotate(-90deg);
    position: absolute;
    left: -90px;
    bottom: 107px;
    font-size: 11px;

    @-moz-document url-prefix() {
      left: -86px;
    }
  }
}
