.underline {
	position: relative;
}
.underline span {
	pointer-events: none;

}
.underline canvas {
	pointer-events: auto;
	position: absolute;
	top: 0;
	left: 0;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	cursor: pointer;
}