@import "home";
@import "menu";
@import "menu-button";
@import "underline";
@import "landing";

@font-face {
	font-family: Zorus_Serif_Italic;
	src: url('../fonts/Zorus_Serif_Italic.otf');
}

* {
	margin: 0;
	padding: 0;
	color: white;
	&:focus {
		outline: none;
	}
}

body {
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
}

a {
	text-decoration: none;
	display: inline-block;
}